@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Patua+One&display=swap');
/*font-family: 'Patua One', cursive;
font-family: 'Baloo 2', cursive;*/

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: #619E9E;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.editorWrapper {
  width: 600px;
  margin: 20px auto;
}

.editorWrapper #toolbar {
  width: 98%;
  background: #224B4B;
  color: white;
  font-family: 'Patua One', cursive;
  font-size: 18px;
  padding: 7px 0 7px 15px;
  border: 2px solid black;
  box-shadow: 1px 1px 10px 2px rgb(61, 99, 99);
}

.editorWrapper #editor {
  width: 98%;
  background: rgb(125, 202, 202);
  min-height: 200px;
  border-top: 0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  padding: 7px 0 7px 15px;
  box-shadow: 1px 1px 10px 2px rgb(61, 99, 99);
}

.previewWrapper {
  width: 800px;
  margin: 15px auto 50px auto;
  height: 250px;
}

.previewWrapper #toolbar {
  width: 100%;
  background: #224B4B;
  color: white;
  font-family: 'Patua One', cursive;
  font-size: 18px;
  padding: 7px 0 7px 15px;
  border: 2px solid black;
  box-shadow: 1px 1px 10px 2px rgb(61, 99, 99);
}

.previewWrapper #preview {
  width: 100%;
  background: rgb(125, 202, 202);
  height: 450px;
  overflow-y: scroll;
  border-top: 0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  padding: 0  0 0 15px;
  box-shadow: 1px 1px 10px 2px rgb(61, 99, 99);
}